#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @warning;
}

#battery.critical {
    color: @critical;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-size: 15px;
}

#custom-bluetooth {
    padding-top: 1px;
    font-weight: bold;
}

#mode {
    background: @mode-bg;
    border-top: 2px solid @fg;
    padding-bottom: 2px;
}

#custom-spotify {
    color: @accent;
}
